.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #8fbbc9;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.buttonn{
    display: flex;
    justify-content: center;
}